<div class="homeContainer">
  <div class="titleimg">
    <h1 class="title">CATAN Layout Generator</h1>
  </div>
  <div class="homeContent">
    <div class="description">
      <h3 class="paraHeading">What is the Catan Layout Generator?</h3>
      <p class="para0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque posuere, purus non egestas feugiat, urna turpis facilisis arcu, vel consequat turpis nunc vitae diam. In convallis arcu tellus, lacinia feugiat tortor volutpat sed. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam vitae sodales metus, ut pretium justo. Maecenas pellentesque malesuada mauris id dapibus. Maecenas vestibulum leo at nisl rutrum porta. Etiam vel elementum erat. Duis tristique suscipit mattis. Phasellus eleifend auctor lorem, non iaculis erat sodales eget. Aenean egestas, ligula vitae scelerisque bibendum, sapien nunc lobortis sapien, ac maximus nulla libero quis lectus. Suspendisse quis mollis est. Morbi pulvinar rutrum consectetur. Sed in augue ultricies, tempus tellus eget, congue turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam ex justo, tincidunt eu lobortis eu, vulputate sit amet tellus.
      </p>
      <h3 class="paraHeading">Title Text of Unknown Use At the Moment!</h3>
      <p class="para1">
        Cras lorem metus, porttitor sit amet sagittis vel, egestas quis sem. Pellentesque tempus sapien sit amet dui placerat, ac tempor tellus pulvinar. Aliquam fermentum at eros vel malesuada. Duis ac orci id urna tincidunt placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam arcu felis, bibendum ac fringilla eu, luctus eu felis. Sed cursus ligula mauris, ut fermentum quam egestas sed. Vivamus tortor libero, euismod sed tellus et, semper maximus nibh. Cras at felis vel nibh dapibus interdum sed a nunc. Nulla maximus, nulla et pellentesque efficitur, nisi lacus pretium est, a elementum nulla justo vel quam. Integer ut massa mollis, facilisis nunc sed, convallis ante. Aenean ac massa quam.
      </p>
    </div>
    <div class="imgCol">
      <h3 class="imgHeading">Example Layouts</h3>
      <img src="http://placekitten.com/g/400/300" alt="Place Kitten Image 1" />
      <h3 class="imgHeading">Supported Expansions</h3>
      <img src="http://placekitten.com/g/400/350" alt="Place Kitten Image 2" />
      <h3 class="imgHeading">Examples and Settings</h3>
      <img src="http://placekitten.com/g/400/325" alt="Place Kitten Image 3" />
    </div>
  </div>
</div>
